<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add Medicine</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content" class="container">
<h1>Add Medicine</h1>
<form th:action="@{/medicines/add}" th:object="${medicine}" method="post">
    <div class="form-group">
        <select class="form-control mb-4 col-4" id="patient" name="patientName">
            <option value="" disabled selected>Select the patient</option>
            <option th:each="patient : ${patients}" th:value="${patient.patientname}" th:text="${patient.patientname}"></option>
        </select>
    </div>
    <!--<input type="text" id="pname" placeholder="Patient Name" th:field="*{patientname}"  class="form-control mb-4 col-4 " /><br />-->
    <div class="form-group">
        <input type="text" id="mname" placeholder="Medicine Name"  th:field="*{medicinename}"  class="form-control mb-4 col-4 " /><br /></div>
        <div class="form-group">
            <input type="text" id="dosage" placeholder="Dosage" th:field="*{dosage}"  class="form-control mb-4 col-4 "/><br /></div>
    <button type="submit" class="btn btn-primary col-2">Add</button>
</form>
<a th:href="@{/medicines}">Back to list</a>
</div>
</body>
</html>
