<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Edit Patient</h1>
<form th:action="@{/Updatepatient/{id}(id=${patient.id})}" th:object="${patient}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Name:</label>
    <input type="text" th:field="*{patientname}" /><br>
    <label>Age:</label>
    <input type="text" th:field="*{age}" /><br>
    <label>Phone Number:</label>
    <input type="text" th:field="*{phoneNumber}" /><br>
    <label>Email:</label>
    <input type="text" th:field="*{email}" /><br>
    <label>Medical  History:</label>
    <input type="text" th:field="*{medicalHistory}" /><br>
    <button type="submit">Update</button>
</form>
</div>
</body>
</html>