<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>View Appointment</title>
</head>
<body>
<div layout:fragment="content" class="container" style="padding:2%">
    <h4 align="center"> View Appointment</h4>
    <table class="table" style="padding:">
        <thead class="bg-primary text-white">
        <tr>
            <th scope="col">Doctor Name</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e:${appoint}">
            <th th:text="${e.doctorname}"></th>
            <th th:text="${e.patientName}"></th>
            <th th:text="${e.appointmentdate}"></th>
            <th th:text="${e.starttime}"></th>
            <th th:text="${e.endtime}"></th>
            <th>
                <button class="btn-btn-success" data-toggle="model"><a th:href="@{/editAppointment/{id}(id=${e.id})}"><i class="fa fa-edit"></i></a></button>
            </th>
            <td> <button class="btn-btn-success" data-toggle="model" onclick="return confirm('Are you sure? You want to delete')"><a th:href="@{/deleteAppointment/{id}(id=${e.id})}"><i class="fa fa-trash"></i></a></button></td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>